{% extends "budget/navbase.html" %}
{% load render_table from django_tables2 %}
{% load currency %}

{% block header %}Homologation Item List{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />{% endblock %}
{% block content %}

<table {{ header_class|safe }}>
{% for status in totals %}
    <tr><td>{{ status.approval_status }}</td><td width="30"></td><td align="right">{{ status.budget_count|currency }}</td></tr>
{% endfor %}
</table><br>

{% render_table table %}

{% endblock %}
