{% extends "budget/navbase.html" %}
{% load render_table from django_tables2 %}
{% load currency %}

{% block header %}
<table width="100%"><tr><td align="center" width="500"><h1>{{ title }}</h1></td><td align="right">
    {% if prev_quarter %}
	<a href="{{ prev_quarter }}">{{ prev_quarter }}</a>&nbsp;&nbsp;
    {% endif %}
    {% if next_quarter %}
    	<a href="{{ next_quarter }}">{{ next_quarter }}</a>&nbsp;&nbsp;
    {% endif %}
    
    (<a href="/budget/new">Add New</a>)

</td></tr></table>
{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />{% endblock %}


{% block navbar %}
<table {{ header_class|safe }}>
    <tr><td colspan="3"><hr></td></tr>
    {% include 'budget/list_bar.html' %}

    <tr><td><strong>Budget Status</strong></td></tr>
    <tr><td colspan="3"><hr></td></tr>
{% for status in approval_totals %}
    <tr><td>{{ status.approval_status }}</td><td width="30"></td><td align="right">{{ status.budget_sum|currency }}</td></tr>
{% endfor %}

    <tr height="15"></tr>
    <tr><td colspan="3"><hr></td></tr>
    <tr><td><strong>Certification Status</strong></td></tr>
    <tr><td colspan="3"><hr></td></tr>
{% for status in status_totals %}
    <tr><td>{{ status.certification_status }}</td><td width="30"></td><td align="right">{{ status.budget_sum|currency }}</td></tr>
{% endfor %}

    <tr height="15"></tr>
    <tr><td colspan="3"><hr></td></tr>
    <tr><td><strong>Certification Type</strong></td></tr>
    <tr><td colspan="3"><hr></td></tr>
{% for status in type_totals %}
    <tr><td>{{ status.homologation_item__cert_type }}</td><td width="30"></td><td align="right">{{ status.budget_sum|currency }}</td></tr>
{% endfor %}
</table>
{% endblock %}


{% block content %}

{% render_table table %}

{% endblock %}
