{% extends "budget/navbase.html" %}

{% load fyq %}
{% load datef %}

{% block header %}<h1>{{ item.name }}</h1>{% endblock %}
{% block bodyattr %}onload="document.getElementById('id_project').select()"{% endblock %}
{% block content %}

<form action="/budget/{{ item.id }}/edit_amount" method="post">{% csrf_token %}

<table width="100%">
    <tr><td colspan="3" width="40%"></td><td width="30"></td><td></td></tr>

    <tr height="40"><td colspan="5"><hr></td></tr>
    
    <tr>
        <td>Project</td>
        <td width="30"></td>
        <td></td>
        <td width="30"></td>
        <td><input id="id_project" type="text"></td>
    </tr>
    <tr>
        <td>Project Code</td>
        <td width="30"></td>
        <td></td>
        <td width="30"></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td valign="top">Description</td>
        <td width="30"></td>
        <td></td>
        <td width="30"></td>
        <td><textarea cols="30" rows="5"></textarea></td>
    </tr>

    <tr height="40"><td colspan="5"><hr></td></tr>

    <tr>
        <td>Certification Info</td>
        <td width="30"></td>
        <td>Type</td>
        <td width="30"></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td></td>
        <td width="30"></td>
        <td>Region</td>
        <td width="30"></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td></td>
        <td width="30"></td>
        <td>Supplier</td>
        <td width="30"></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td></td>
        <td width="30"></td>
        <td>Module</td>
        <td width="30"></td>
        <td><input type="text"></td>
    </tr>

    <tr height="40"><td colspan="5"><hr></td></tr>
    
    <tr>
        <td>Budget Info</td>
        <td width="30"></td>
        <td>Request Date</td>
        <td width="30"></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td></td>
        <td width="30"></td>
        <td>Business Case</td>
        <td width="30"></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td></td>
        <td width="30"></td>
        <td valign="top">Notes</td>
        <td width="30"></td>
        <td><textarea cols="30" rows="5"></textarea></td>
    </tr>

    <tr height="40"><td colspan="5"><hr></td></tr>

</table>

<table width="100%">
    <tr>
        <td width="20%"></td>
        <td width="30"></td>
        <td>Date</td>
        <td width="30"></td>
        <td>Amount</td>
    </tr>
    <tr>
        <td width="20%">Requested</td>
        <td width="30"></td>
        <td><input type="datetime-local"></td>
        <td width="30"></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td width="20%">Ready</td>
        <td width="30"></td>
        <td><input type="datetime-local"></td>
        <td width="30"></td>
        <td></td>
    </tr>
    <tr>
        <td width="20%">Quoted</td>
        <td width="30"></td>
        <td></td>
        <td width="30"></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td width="20%">Approved</td>
        <td width="30"></td>
        <td><input type="text"></td>
        <td width="30"></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td width="20%">Completed</td>
        <td width="30"></td>
        <td><input type="text"></td>
        <td width="30"></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td width="20%">Failed</td>
        <td width="30"></td>
        <td><input type="checkbox" value="Failed"</td>
        <td width="30"></td>
        <td></td>
    </tr>

    <tr height="40"><td colspan="5"><hr></td></tr>
</table>

{% endblock %}
{% block navbar %}
{% endblock %}
